clean_data
clean_data_3d
clean_data_v2 
image_slices
__pycache__
AI in Dementia Diagnosis Project - Notation.csv
.venv
test_gt_50.nii.gz

VLMTrac

.env
**/*.gz

output

TracData
eval_result
wandb
output
MedYOLO
pseudo_3d
gradient
DATASET

only_2d 
pretrained_ViT.bin
clean_data_old