torch==2.2.0           
pandas==2.2.1         
scikit-learn==1.4.2   
numpy==1.26.4         
matplotlib==3.8.4      
torchvision
peft
tqdm==4.66.2 
datasets 
nibabel
transformers
# monai
monai==1.3.0
einops
python-dotenv
accelerate
protobuf
hf_transfer
tensorboardX
bert_score
sentencepiece
sentence-transformers 
nltk